.row-places {
  column-width: 18em;
  column-gap: 1em;
  .panel {
    display: inline-block;
  }
  .panel-image {
    display:inline-block;
    position:relative;

    .button_to {
      display: none;
    }
    button, div.button_to {
      position:absolute;
      top: 10px;
      right: 3px;
      font-family:Arial, Helvetica, sans-serif;
      background-color:rgba(0,0,0,.5);
      padding: 5px 10px;
      &:hover {
        background-color:rgba(0,0,0,.7);
      }
    }
    .liked {
      color: #CFEFFF;
    }
  }
}


.img-resized {
  width: 100%;
  height: auto;
}

footer {
  padding-top: 0px;
  padding-bottom: 10px;
}
.jumbotron {
  padding-left: 10px;
  padding-top: 15px;
}
