.modal.fade#new-place-modal{tabindex: -1, role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss": "modal"}
          %span &times;
        %h4.modal-title Add new place
      .modal-body
        = render "form"
