.panel.panel-default
  .panel-heading
    %h3.panel-title= place.name
  = image_tag place.image, class: "img-resized"
  .panel-body
    = place.description
  - if place.user
    .panel-footer
      = place.user.email
