= render 'modal_form'
.jumbotron
  .row.text-center
    .col-md-9
      %h2 Welcome to Popular Places
    .col-md-3
      %button.btn.btn-primary.btn-lg{data: { toggle: "modal",
        target: "#new_place_modal" }}
        Add your place!
.row-places#places-list= render @places
