%header
  %nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        .navbar-brand
          Popular Places
      %ul.nav.navbar-nav
        %li= link_to 'Home', root_path
